/* General Styles */

body {
    background-color: #f5f5f5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

section {
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
    min-height: 50vh;
    padding: 40px 9% 80px;
}


.down {
    transform: rotate(45deg);
  }

/*ACCORDION CONTENT*/

.accordion {
    margin: 0 auto;
}


.accordion-item {
    margin-bottom: 20px;
    border-radius: 5px;
}


.accordion-header {
    background-color: #efeeee;
    color: white;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
}


.accordion-content {
    display: none;
    max-height: 0;
    overflow: hidden;
    padding: 0 10px;  /* Adds padding when open */
    background-color: #efeeee;
    transition: max-height 1.03s ease; 
}


.accordion-content.active {
    display: block; 
    padding: 10px; 
    max-height: 1000px;
}

.accordion-header:hover{
    background-color:#d2d2d2;
}

/* Heading Styling */
.heading p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #0F3A66;
}

/* Comment Box Styling */
.comment-box {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 20%;
    margin-left: 20%;
    background-color: #efeeee;
    border-radius: 10px;
}


.comment p{
    margin: 5px 0;
    padding: 5px;
    font-family: Georgia, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #0F3A66;
}


/* Reply Button Styling */
#reply_button {
    background-color: #0F3A66;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#reply_button:hover {
    background-color: #08467f;
}

/* Reply Form Styling */
form {
    padding: 10px;
    margin-top: 10px;
    background-color: #f0f0f0;
    color:#543913;
    border-radius: 8px;
}

form p {
    font-family: Georgia, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#0F3A66;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    background-color: #0F3A66;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #08467f;
}

/* Styling for Replies */
.replies .reply {
    margin-left: 20px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.replies .reply p {
    margin: 5px 0;
    padding: 5px;
    font-family: Georgia, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #543913;
}

/*MEDIA*/
@media (max-width: 1250px) {
    .email p{
        display:none;
    }
}