.image img
    {
        height: 385px;
        box-shadow: 15px 15px 15px rgba(28, 27, 27, 0.468);
    }

h2
    {
        text-align: center;
        color: #0F3A66;
        padding-top: 100px;
    }

h3
    {
    font-family: Georgia, 'Times New Roman', Times, serif;    
    color:#543913;
    text-align: center;
    font-size: larger;
    }
h4
    {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #52331d;
        text-align: center;
        padding-inline: 50px;
    }


.photoContainer
    {
        padding-top: 15px;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items:center;
        width:100%;
        margin-inline: auto;
    }

.oddContainer
    {
        padding-top:15px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items:center;
        width:75vw;
        justify-items: center;
    }
.twoContainer
{
    padding-top:15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items:center;
    width:75%;
    justify-items: center;
}

.photos
    {
    align-self: center
    }
.textContainer
{
    width: 70%;
    text-wrap: wrap;
    text-align: center;
    justify-self: center;
    padding-bottom: 15px;
}

.headerSpace
{
    padding-top: 0px;
}

/*SMALL SCREEN */
@media (max-width: 550px) 
{
    .photoContainer 
    {
        grid-template-columns: 1fr;
        justify-items: center;
        padding-bottom: 50px;
        margin: auto;
    }
    .footer {
        grid-template-columns: 1fr; 
        justify-items: center;
    }
    .footer-items
    {
        padding-top: 10px;
        padding-bottom: 15px;
        }
   .oddContainer
   {
        grid-template-columns: 1fr;
        justify-items: center;
        padding-bottom: 50px;
        margin: auto;

   }
   .twoContainer
   {
       grid-template-columns:1fr;  
       justify-items: center; 
       padding-bottom: 50px;
       margin: auto;
}

.textContainer
{
    width: 100%;
    margin: auto;
    padding-inline: 0%;
    text-align: center;
}

.headerSpace
{
    padding-top: 75px;
    text-align: center;
}

.image img
    {
        padding-top: 25px;
    }
}




@media (min-width: 551) and (max-width: 1000px) {
    .photoContainer {
        grid-template-columns:1fr;
        justify-items: center;
    }
    .photos
    {
        padding-top: 150px;
    }
    .footer {
        grid-template-columns: 1fr; 
        justify-items: center;
    }
    .footer-items
    {
        padding-top: 10px;
        padding-bottom: 15px;
        }
    .oddContainer
        {
            grid-template-columns: 1fr;
            padding-bottom: 50px; 
        }
    .twoContainer
    {
        grid-template-columns:1fr;   
    }
}

