/*COlORS
Background: White - #f5f5f5;
Dark blue: #0F3A66;  The hex version of rgb(15, 58, 102)
Navbar: light blue - #b3dbf4;
off-white: #efeeee;
tan: #ac9484;
brown: #52331d; 
*/

h3  
    {
        text-align: center;
        font-size: x-large;
        padding-top: 50px;
    }
h2
    {
        padding-top: 50px;
    }

h4
    {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #52331d;
        text-align: center;
    }

table, th, td  
    {
        border-collapse: collapse;
        justify-self: center;
        color: #0F3A66;
    }
    
td
{
    font-size: larger;    
    padding-inline: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-width: 2px;
}

.seperatingLine
    {
        border-bottom: 2px #52331d dashed;
    }
